<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         verbose="true"
         stopOnError="false"
         backupGlobals="false"
         stopOnFailure="false"
         processIsolation="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="Fusion Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>